<div id="page-wrapper">
  <div>
    <h2>Show Plays</h2>
    {{#if plays}}
      <table class="table table-striped">
        <tbody>
          {{#each plays}}
            <tr>
              <td><a href="/plays/{{id}}">ID: {{id}} GAME: {{gameCode}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>not found</p>
    {{/if}}
    {{#if pages}}
      <nav>
        <ul class="pagination">
          {{#if isFirstPage}}
            <li class="page-item disabled"><a class="page-link" href="#">&lt;&lt;</a></li>
          {{else}}
            <li class="page-item"><a class="page-link" href="{{@root.base}}page={{previousPage}}">&lt;&lt;</a></li>
          {{/if}}
          {{#each pages}}
            {{#if current}}
              <li class="page-item active">
                <a class="page-link" href="{{@root.base}}page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
            {{else}}
              <li class="page-item"><a class="page-link" href="{{@root.base}}page={{page}}">{{page}}</a></li>
            {{/if}}
          {{/each}}
          {{#if isLastPage}}
            <li class="page-item disabled"><a class="page-link" href="#">&gt;&gt;</a></li>
          {{else}}
            <li class="page-item"><a class="page-link" href="{{@root.base}}page={{nextPage}}">&gt;&gt;</a></li>
          {{/if}}
        </ul>
      </nav>
    {{/if}}
    <p>Total Count: {{totalCount}}</p>
  </div>
</div>
